<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tunea tu Bajada</title>
    <link rel="shortcut icon" href="/img/estadisticas/img-5.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/bootstrap/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/alerta.css">
    <link rel="stylesheet" href="/css/page.css">
</head>

<body>
    <!-- <div th:replace="/fragmentos/cliente/header :: header"></div> -->
    <!-- banner  -->
    <div class="relative bg-cover bg-center h-96" style="background-image: url('/img/products/fondo-index.jpg');">
        <div class="absolute inset-0 bg-black opacity-20"></div> 
        <div class="absolute inset-0 flex items-center justify-center">
            <div class="text-center text-white">
                <h1 class="text-6xl font-bold mt-4 mb-4">¡Diseña tu propia bajada!</h1>
                <p class="text-lg mt-5 mb-5">Tu hamburguesa, tus reglas</p>
                <a href="/cliente/productos" class="mb-5 mt-5 px-6 py-3 bg-orange-500 text-white rounded-lg hover:bg-orange-700 transition duration-300">¡Ir ahora!</a>
                <h1 class="text-3xl text-orange-700 font-bold mt-5 mb-3">Dale tu propio toque, sin paltas</h1>
                <p class="text-3xl text-orange-700 mt-4 mb-4">De tu mente a tus manos</p>
            </div>
        </div>
    </div>
    <br><br>
    <!-- categoria -->


    <div style="background-image: url('/img/bag/faq-bg.png');">
        <div>
            <div>
                <h1 class="text-4xl text-red-700 font-bold text-center">NUESTRA VARIEDAD DE COMIDA</h1>
                <p class="font-bold text-center text-red-700">¡solo la encuentras aqui!</p>
            </div>
            <div class="flex flex-wrap justify-center">
                <div class="m-4">
                    <div class="rounded-full overflow-hidden w-32 h-32 flex items-center justify-center bg-gray-200">
                        <img src="https://drgrill.co/cdn/shop/articles/Guia_para_preparar_tu_1ra_hamburguesa_a_la_parrilla_cover_1.png?v=1708564440"
                            alt="Categoría 1" class="w-full h-full object-cover">
                    </div>
                    <p class="text-center mt-2 font-bold">Carnes</p>
                </div>

                <div class="m-4">
                    <div class="rounded-full overflow-hidden w-32 h-32 flex items-center justify-center bg-gray-200">
                        <img src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/9B713ABA-4245-4388-8F46-A050C0FAA55B/Derivates/669B702D-C273-429D-8EB8-491B8D80F659.jpg"
                            alt="Categoría 2" class="w-full h-full object-cover">
                    </div>
                    <p class="text-center mt-2 font-bold">Panes</p>
                </div>

                <div class="m-4">
                    <div class="rounded-full overflow-hidden w-32 h-32 flex items-center justify-center bg-gray-200">
                        <img src="https://i.blogs.es/cb5119/by-jonathan-borba/450_1000.jpeg"
                            alt="Categoría 2" class="w-full h-full object-cover">
                    </div>
                    <p class="text-center mt-2 font-bold">Adicionales</p>

                    </p>
                </div>
                <div class="m-4">
                    <div class="rounded-full overflow-hidden w-32 h-32 flex items-center justify-center bg-gray-200">
                        <img src="https://album.mediaset.es/eimg/10000/2022/05/17/clipping_MSvJ5N_b654.jpg?w=1200"
                            alt="Categoría 2" class="w-full h-full object-cover">
                    </div>
                    <p class="text-center mt-2 font-bold">Bebidas</p>
                </div>
                
            </div>
        </div>
        
    </div>
    <br><br>
    <div class="text-center">
    <h1 class="text-4xl text-black-700 font-bold text-center">Deja volvar tu imaginación</h1><br>
    <h3 class="text-1xl text-black-700 text-center">Ingresar cantidad e ingrediente separados por comas</h3>
    <form id="burgerForm" class="form-control">
        <label for="ingredients" class="text-3xl">Ingredientes: </label>
        <input type="text" id="ingredients" name="ingredients" class="w-7/12 border outline-none px-1 py-2 rounded focus:ring-2 focus:ring-inset focus:ring-orange-600">
        <button type="submit" class="mb-5 mt-5 px-6 py-3 bg-orange-500 text-white rounded-lg hover:bg-orange-700 transition duration-300">Generar Previsualizacion</button>
    </form>
    <div class="flex justify-center" id="burgerPreview">
        <img id="burgerImage" src="" alt="">
    </div>

    </div>  
    

    <script>
        document.getElementById('burgerForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const ingredients = document.getElementById('ingredients').value.split(',');

            fetch('/api/burger/preview', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ ingredients })
            })
            .then(response => response.text())
            .then(imageUrl => {
                document.getElementById('burgerImage').src = imageUrl;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>





    <div th:replace="~{/fragmentos/cliente/footer :: div}"></div>



    <div class="contenedor_alerta respuestaCorrecta" id="contenedor_alerta" th:if="${mensajeOK != null}">
        <div class="alerta" id="alerta">
            <div class="icon_alerta">

                <i class="bi bi-check2"></i>
            </div>
            <div>
                <span th:text="${mensajeOK}"></span>
            </div>
        </div>
        <div class="slider_alerta"></div>
    </div>
    <script>
        // Function to close the error alert after 3 seconds
        setTimeout(function () {
            cerrarErrorAlert();
        }, 3000);
        // Function to close the error alert
        function cerrarErrorAlert() {
            var errorAlerts = document.querySelectorAll('.alerta');
            for (let error of errorAlerts) {
                if (error) {
                    error.style.display = 'none';
                }
            }
        }
    </script>

    <div id="modal_barra_lateral" class="hidden fixed w-screen h-screen flex z-1 top-0  ">
        <!-- Sidebar -->
        <div class="w-80 h-screen bg-white text-black p-4 border rounded">
                <div class="flex justify-between">
                    <a href="/" class="flex gap-2"><img class="w-12" src="/img/estadisticas/img-5.png" alt=""> <span class="mb-auto mt-auto">Tunea tu Bajada</span> </a>
                    <a id="cerrar_ventana_modal" class="mb-auto mt-auto cursor pointer">X</a>                    
                </div>

                <div class="font-bold text-xl mt-8">
                    <a href="/cliente/login" class="block mb-4" th:if="${session.IdUsuario == null}">iniciar sesion</a>
                    <a href="/cliente/registrar" class="block mb-4" th:if="${session.IdUsuario == null}">registrar</a>
                    <a href="/" class="block mb-4">inicio</a>
                    <a href="/cliente/productos" class="block mb-4">productos</a>              
                    <a href="/nosotros" class="block mb-4">nosotros</a>
                    <a href="/cliente/compras" class="block mb-4" th:unless="${session.IdUsuario == null}">mis compras</a>
                </div>
        </div>       
    </div>
    <script>
        var buttom_barra_lateral = document.getElementById("buttom_barra_lateral");
        var modal_barra_lateral = document.getElementById("modal_barra_lateral");
        var cerrar_ventana_modal = document.getElementById("cerrar_ventana_modal");

        buttom_barra_lateral.addEventListener('click', () => {
            modal_barra_lateral.classList.remove('hidden');
        });

        cerrar_ventana_modal.addEventListener('click', () => {
            modal_barra_lateral.classList.add('hidden');
        });
    </script>
</body>

</html>