<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador || Usuarios</title>
    <link rel="shortcut icon" href="/img/estadisticas/img-5.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/page.css">
</head>

<body class="overflow-hidden">

    <div class="fixed  w-screen">
        <!-- header -->
        <div th:replace="~{/fragmentos/administrador/header :: div}"></div>

        <!-- body -->
        <div class="flex justify-between">
            <!-- menu lateral -->
            <div th:replace="~{/fragmentos/administrador/menu_lateral :: div}"></div>
            <!-- body main -->
            <div class="main_dashboard w-screen h-screen mt-4  overflow-y-auto ml-6 mr-6">
                <div class="mt-4 cards_flex flex gap-4  justify-center w-full flex-wrap">
                    <div class="w-64 h-24 border-sm rounded shadow-[0px_1px_6px_6px_rgba(10,0,0,0.05)]" >
                        <div class="flex justify-between w-ful p-5">
                            <div class="">
                                <span class="block text-xl">usuarios</span>
                                <span class="text-sm" th:text="${cantUsuarios}"></span>
                            </div>
                            <div class="text-5xl ">
                                <img src="/img/estadisticas/img-1.png" alt="" class="w-12 h-12">
                              </div>
                        </div>
                    </div>
                    <div class="w-64 h-24 border-sm rounded shadow-[0px_1px_6px_6px_rgba(10,0,0,0.05)]" >
                        <div class="flex justify-between w-ful p-5">
                            <div class="">
                                <span class="block text-xl">administradores</span>
                                <span class="text-sm"  th:text="${cantUsuarios}"></span>
                            </div>
                            <div class="text-5xl ">
                                <img src="/img/estadisticas/img-1.png" alt="" class="w-12 h-12">
                              </div>
                        </div>
                    </div>
                    <div class="w-64 h-24 border-sm rounded shadow-[0px_1px_6px_6px_rgba(10,0,0,0.05)]" >
                        <div class="flex justify-between w-ful p-5">
                            <div class="">
                                <span class="block text-xl">compras</span>
                                <span class="text-sm text-green-700">+ 30</span>
                            </div>
                            <div class="text-5xl ">
                                <img src="/img/estadisticas/img-1.png" alt="" class="w-12 h-12">
                              </div>
                        </div>
                    </div>
                    <div class="w-64 h-24 border-sm rounded shadow-[0px_1px_6px_6px_rgba(10,0,0,0.05)]" >
                        <div class="flex justify-between w-ful p-5">
                            <div class="">
                                <span class="block text-xl">Consumo</span>
                                <span class="text-sm text-green-700 font-bold" >+ S/ 6978.0</span>
                            </div>
                            <div class="text-5xl ">
                                <img src="/img/estadisticas/img-6.png" alt="" class="w-12 h-12">
                              </div>
                        </div>
                    </div>                    
                </div>
                <div class="w-full border   p-6 shadow-inner rounded overflow-y-auto mt-4">
                        <div class="flex justify-between flex-wrap mb-2 ">
                            <a id="agregar" class="border rounded  mt-auto mb-auto px-4 py-2 bg-sky-600 text-white hover:bg-sky-900 mb-2 shadow" ><i class="bi bi-folder-plus"></i> <span>Agregar item</span></a>
                            <a class="bg-sky-600 w-256 rounded mb-2">
                             <div class="flex w-full mt-auto mb-auto p-1 gap-2 ">
                                <!-- buscar -->
                                <input onkeyup="buscarTabla()" id="searchInput" type="search" class="w-full outline-none px-2 text-gray-950 text-sm" placeholder="buscar...">
                                <i class="bi bi-search text-2xl text-white"></i>
                             </div>
                            </a>
                        </div>
                    <table class="w-full border-collapse " id="miTabla">                        
                        <thead>
                            <tr class="border-b-2 border_color text-center font-bold">
                                <td class="p-4  ">
                                    <div class="flex ">
                                        <span>Codigo</span> <i class="bi bi-chevron-expand"></i>
                                    </div>
                                </td>
                                <td class="p-4 ">
                                    <div class="flex"><span>Nombre</span> <i class="bi bi-chevron-expand"></i></div>
                                </td>
                                <td class="p-4 ">
                                    <div class="flex"><span>Apellido</span> <i class="bi bi-chevron-expand"></i>
                                    </div>
                                </td>
                                <td class="p-4 ">
                                    <div class="flex">
                                        <span>Correo</span> <i class="bi bi-chevron-expand"></i>
                                    </div>
                                </td>
                                <td class="p-4 ">
                                    <div class="flex"><span>Telefono</span> <i class="bi bi-chevron-expand"></i>
                                    </div>
                                </td>
                                <td class="p-4 ">
                                    <div class="flex"><span>Rol Usuario</span> <i class="bi bi-chevron-expand"></i>
                                    </div>
                                </td>
                                <td class="p-4 ">
                                    <div class="flex"><span>Accion</span> <i class="bi bi-chevron-expand"></i>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody th:each="listaUsuario : ${listaUsuario}">
 
                            <tr class="border-b border_color  text-sm">
                                <td class="p-4" th:text="${listaUsuario.numero_documento}"></td>
                                <td class="p-4" th:text="${listaUsuario.nombre}"></td>
                                <td class="p-4" th:text="${listaUsuario.primer_apellido}"></td>
                                <td class="p-4" th:text="${listaUsuario.correo}"></td>
                                <td class="p-4" th:text="${listaUsuario.telefono}"></td>
                                <td class="p-4"  th:switch="${listaUsuario.id_rol}">
                                    <a th:case="1">CLIENTE</a>
                                    <a th:case="2">ADMINISTRADOR</a>
                                </td>
                                <td class="p-4">
                                    <a  th:href="@{/administrador/editar/usuario/{id_usuario}(id_usuario=${listaUsuario.id_usuario})}"   class=" cursor-pointer rounded  px-4 shadow-sm py-2 border bg-orange-600 text-white hover:bg-orange-900"><i class="bi bi-pencil-square"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <br> <br> <br> <br> <br>
            </div>
        </div>

    </div>

    <div class="fixed w-screen h-screen bg-gray-600 bg-opacity-20 flex justify-center items-center  hidden" id="modal">
        <div class="modal_add border bg-white shadow-sm rounded h-full " style="overflow-x: auto;">
            <form action="/administrador/registrar/usuario"  style="overflow-x: auto;"  method="post">
                <h1 class="text-center text-3xl mt-4 mb-4">Agregar Usuario</h1>
                <div class="flex gap-4 p-4 wrap" >
                    <div class="w-full">
                        <label for="" class="block">id documento</label>
                        <select name="id_documento" class="w-full outline-none border shadow-sm px-2 py-4 rounded" >
                            <option th:each="TipoDocumento: ${TipoDocumento}" th:value="${TipoDocumento.id_documento}"  th:text="${TipoDocumento.nombre_documento}"></option>
                        </select>    
                    </div>
                    <div class="w-full">
                        <label for="" class="block">Numero Documento</label>
                        <input name="numero_documento" type="text"
                            class="w-full outline-none border shadow-sm px-2 py-4 rounded">
                    </div>
                </div>

                <div class="flex gap-4 p-4">
                    <div class="w-full">
                        <label for="" class="block">Nombre</label>
                        <input name="nombre" type="text" 
                            class="w-full outline-none border shadow-sm px-2 py-4 rounded">
                    </div>
                </div>

                <div class="flex gap-4 p-4 wrap">
                    <div class="w-full">
                        <label for="" class="block">primer apellido</label>
                        <input name="primer_apellido" type="text" 
                            class="w-full outline-none border shadow-sm px-2 py-4 rounded">
                    </div>
                    <div class="w-full">
                        <label for="" class="block"> segundo apellido</label>
                        <input name="segundo_apellido" type="text"
                            class="w-full outline-none border shadow-sm px-2 py-4 rounded">
                    </div>
                </div>
                <div class="flex gap-4 p-4 wrap">
                    <div class="w-full">
                        <label for="" class="block">telefono</label>
                        <input name="telefono" type="text" 
                            class="w-full outline-none border shadow-sm px-2 py-4 rounded">
                    </div>
                    <div class="w-full">
                        <label for="" class="block">correo</label>
                        <input name="correo" type="text"
                            class="w-full outline-none border shadow-sm px-2 py-4 rounded">
                    </div>
                    <div class="w-full">
                        <label for="" class="block">contrasena</label>
                        <input name="contrasena" type="text" 
                            class="w-full outline-none border shadow-sm px-2 py-4 rounded">
                    </div>
                </div>
                <div class="flex gap-4 p-4 wrap">
                    <div class="w-full">
                        <label for="" class="block">Genero</label>
                        <select name="id_genero" class="w-full outline-none border shadow-sm px-2 py-4 rounded" >
                            <option th:each="genero: ${genero}" th:value="${genero.id_genero}"  th:text="${genero.nombre_genero}"></option>
                        </select>      
                    </div>
                    <div class="w-full">
                        <label for="" class="block">Rol</label>
                        <select name="id_rol" class="w-full outline-none border shadow-sm px-2 py-4 rounded" >
                            <option th:each="RolUsuario: ${RolUsuario}" th:value="${RolUsuario.id_rol}"  th:text="${RolUsuario.nombre_rol}"></option>
                        </select>              
                    </div>
                    <div class="w-full">
                        <label for="" class="block">estado </label>          
                        <select name="id_estado" class="w-full outline-none border shadow-sm px-2 py-4 rounded" >
                            <option th:each="listaEstado: ${listaEstado}" th:value="${listaEstado.id_estado}"  th:text="${listaEstado.nombre_estado}"></option>
                        </select>              
                    </div>
                    
                </div>
                <div class="flex gap-4 p-4 justify-center">
                    <input type="submit" value="registrar"
                        class="text-xl border rounded shadow-sm text-white bg-sky-700  px-4 py-2 cursor-pointer hover:bg-sky-800">
                    <a id="cerrar_modal"
                        class="text-xl border rounded shadow-sm bg-white text-sky-700 border-sky-700  px-4 py-2 cursor-pointer">cerrar</a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="/js/modal.js"></script>
</body>

</html> 