<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tunea tu Bajada</title>
  <link rel="shortcut icon" href="/img/estadisticas/img-5.png" type="image/x-icon">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/page.css">
  <link rel="stylesheet" href="../bootstrap/bootstrap-icons/bootstrap-icons.css">
</head>

<body style="background-image: url('/img/bag/faq-bg.png');">
  <div th:replace="~{/fragmentos/cliente/header :: div}"></div>
  <br><br><br><br>
  <div class="mt-auto mb-auto ml-12 ">
    <a id="btn_registrar_Reclamo" class="border rounded shadow-sm px-2 py-4 text-white bg-sky-800 cursor-pointer">Ingresar nuevo reclamo</a>
    <a id="btn_saldo" class="border shadow-sm rounded bg-orange-600 text-white px-2 py-4 cursor-pointer"><i class="bi bi-paypal"></i> Recargar saldo <i class="bi bi-currency-dollar"></i></a>
    <div id="registrar_saldo" class="hidden fixed inset-0 flex items-center justify-center" style="background-color: rgba(0, 0, 0, 0.356);">
      <div class="w-96 border shadow-sm bg-white rounded">
          <form action="/cliente/recargar/saldo" method="POST" class="p-4">
              <h1>registrar saldo</h1>
              <a id="btn_close_saldo" class="flex justify-end font-bold cursor-pointer">X</a>
              <div>
                  <label for="motivo" class="block">Ingrese la Cantidad a recargar: <strong>S/ .</strong></label>
                  <input type="text" id="motivo" name="saldo_usuario" class="w-full border py-2 px-4">
              </div>
              <div>
                  <input type="submit" value="Registrar" class="border shadow-sm bg-sky-600 text-white px-4 py-2 rounded cursor-pointer">
              </div>
          </form>
      </div>
  </div>
  <a href="/cliente/actualizar/datos" class="border shadow-sm rounded bg-green-600 text-white px-2 py-4 cursor-pointer"> Actualizar Datos <i class="bi bi-pencil-square"></i></a>

  
  </div>
  <!-- registrar rec;a,p -->
   
  <div id="reclamo_modal" class="hidden fixed inset-0 flex items-center justify-center" style="background-color: rgba(0, 0, 0, 0.356);">
    <div class="w-96 border shadow-sm bg-white rounded">
        <form action="" class="p-4">
            <h1>Registrar Reclamo</h1>
            <a id="btn_close_registrar" class="flex justify-end font-bold cursor-pointer">X</a>
            <div>
                <label for="motivo" class="block">Motivo</label>
                <input type="text" id="motivo" class="w-full border py-2 px-4">
            </div>
            <div>
                <label for="descripcion" class="block">Descripcion</label>
                <textarea id="descripcion" class="w-full h-48 border py-2 px-4"></textarea>
            </div>
            <div>
                <input type="submit" value="Registrar" class="border shadow-sm bg-sky-600 text-white px-4 py-2 rounded cursor-pointer">
            </div>
        </form>
    </div>
</div>
<script>
    var reclamo_modal = document.getElementById("reclamo_modal");
    var btn_close_registrar = document.getElementById("btn_close_registrar");
    var btn_registrar_Reclamo = document.getElementById("btn_registrar_Reclamo");
    btn_registrar_Reclamo.addEventListener('click', ()=>{
      reclamo_modal.classList.remove('hidden')
    })
    btn_close_registrar.addEventListener('click', ()=>{
      reclamo_modal.classList.add('hidden')
    })
    
    var registrar_saldo = document.getElementById("registrar_saldo");
    var btn_close_saldo = document.getElementById("btn_close_saldo");
    var btn_saldo = document.getElementById("btn_saldo");
    btn_saldo.addEventListener('click', ()=>{
      registrar_saldo.classList.remove('hidden')
    })
    btn_close_saldo.addEventListener('click', ()=>{
      registrar_saldo.classList.add('hidden')
    })
</script>

  <div class="overflow-x-auto mx-12  p-4 border rounded shadow  bg-white mt-8">
    <h1 class="flex justify-center text-3xl font-semibold text-slate-700">HISTORIAL DE COMPRAS</h1>

    <div class="flex justify-between  mb-2">
      <div class="flex gap-4">
        <div class="mt-auto mb-auto">
          <label for="buscarProducto" class="block text-gray-700 font-semibold mb-2">Buscar Boleta</label>
          <input type="text" onkeyup="buscarTabla()" id="searchInput" placeholder="Ingrese su ID de compra"
            class="px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500">
        </div>
      </div>
      <div class="mt-auto mb-auto">
        <span class="flex text-1xl gap-4">Saldo: <p th:text="'S/  ' + ${session.mySaldo}" class="font-bold"> </p></span>
      </div>
    </div>
    <table class="table-auto min-w-full divide-y divide-gray-200" id="miTabla">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Id compra</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">id usuario</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Subtotal</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">IGV</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">total</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Fecha Compra</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Direccion Entrega</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">estado</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Accion</th>

        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200 text-sm">
        <tr th:each="misCompras : ${session.misCompras}">
          <td class="px-6 py-4 whitespace-nowrap" th:text="${misCompras.id_compra}"></td>
          <td class="px-6 py-4 whitespace-nowrap" th:text="${misCompras.id_usuario}"></td>
          <td class="px-6 py-4 whitespace-nowrap font-bold" th:text="'S/ ' +${misCompras.subtotal}"></td>
          <td class="px-6 py-4 whitespace-nowrap font-bold" th:text="'S/ ' +${misCompras.igv}"></td>
          <td class="px-6 py-4 whitespace-nowrap font-bold" th:text="'S/ ' +${misCompras.total}"> </td>         
          <td class="px-6 py-4 whitespace-nowrap" th:text="${misCompras.fecha_venta}"></td>
          <td class="px-6 py-4 whitespace-nowrap" th:text="${misCompras.direccion_entrega}"></td>
          <td class="px-6 py-4 whitespace-nowrap" th:switch="${misCompras.id_estado}">
            <p th:case="1" class="font-bold text-green-600 text-2xl ml-4"><i class="bi bi-check-circle"></i></p>
            <p th:case="2"><i class="bi bi-x-circle text-red-600 text-2xl ml-4"></i></p>
          </td>
          <td>
            <a class="cursor-pointer text-1xl bg-orange-600 hover:bg-orange-900 p-2 text-white border rounded shadow-sm"
              th:href="@{/cliente/detalle/compra/{id_compra}(id_compra=${misCompras.id_compra})}"><i
                class="bi bi-eye"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div c th:replace="~{/fragmentos/cliente/footer :: div}"></div>
  
  <div id="modal_barra_lateral" class="hidden fixed w-screen h-screen flex z-1 top-0  ">
    <!-- Sidebar -->
    <div class="w-80 h-full bg-white text-black p-4 border rounded">
            <div class="flex justify-between">
                <a href="/" class="flex gap-2"><img class="w-12" src="/img/estadisticas/img-5.png" alt=""> <span class="mb-auto mt-auto">FameTech</span> </a>
                <a id="cerrar_ventana_modal" class="mb-auto mt-auto cursor pointer">X</a>                    
            </div>

            <div class="font-bold text-xl mt-8">
              <a href="/cliente/login" class="block mb-4" th:if="${session.IdUsuario == null}">Iniciar sesion</a>
              <a href="/cliente/registrar" class="block mb-4" th:if="${session.IdUsuario == null}">Registrarse</a>
              <a href="/" class="block mb-4">inicio</a>
              <a href="/cliente/productos" class="block mb-4">productos</a>              
              <a href="/nosotros" class="block mb-4">nosotros</a>
              <a href="/cliente/compras" class="block mb-4" th:unless="${session.IdUsuario == null}">mis compras</a>
            </div>
    </div>       
</div>

<script>
    var buttom_barra_lateral = document.getElementById("buttom_barra_lateral");
    var modal_barra_lateral = document.getElementById("modal_barra_lateral");
    var cerrar_ventana_modal = document.getElementById("cerrar_ventana_modal");

    buttom_barra_lateral.addEventListener('click', () => {
        modal_barra_lateral.classList.remove('hidden');
    });

    cerrar_ventana_modal.addEventListener('click', () => {
        modal_barra_lateral.classList.add('hidden');
    });
</script>
<script src="/js/modal.js"></script>
</body>

</html>