<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tunea tu Bajada</title>
    <link rel="shortcut icon" href="/img/estadisticas/img-5.png" type="image/x-icon">
    <link rel="stylesheet" href="../bootstrap/bootstrap-icons/bootstrap-icons.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/page.css">
</head>
<body style="background-image: url('/img/bag/faq-bg.png');">
    <div th:replace="~{/fragmentos/cliente/header :: div}"></div>
        <br>
    <!-- href="/cliente/generar/compra" -->
    <div class="border mx-4 flex justify-center flex-wrap p-4 bg-white text-center">
        <div class="  px-8">            
                <div>
                    <table class=" ">
                        <thead class=" w-full">
                                <tr class="mb-2 p-8 border-b">
                                        <td>Cant.</td>
                                        <td>Producto</td>
                                        <td>Precio</td>
                                </tr>
                        </thead>
                        <tbody th:each="carrito : ${session.listaCarrito}">
                                <tr class="border-b">
                                    <td th:text="${carrito.cantidad_carrito}" class="px-4 py-2 font-bold"></td>
                                    <td class="flex  px-4 py-2 gap-2">
                                        <div class="w-20 h-8 mb-auto mt-auto">
                                            <img th:src="${carrito.img}" alt="" class="w-full h-full mb-auto mt-auto">
                                        </div>
                                        <div class="text-sm w-full mt-4 mb-4">
                                            <span th:text="${carrito.nombre_producto}" class="block text-center"></span>
                                        </div>
                                    </td>
                                    <td class="text-sm px-4 py-2 ">

                                        <span th:text="${'S/ '+carrito.subtotal}" class="font-bold"> </span>
                                    </td>
                                </tr>
                                
                        </tbody>
                    </table>
                </div>          
        </div>
        
        <div>
            <form method="GET" action="/cliente/generar/compra">
                <div class="w-96">
                    <div class="p-4 border shadow-md ">
                        <div class="flex justify-between py-2 text-sm border-b"  th:if="${session.IdUsuario != null}">
                            <span class="font-bold">Mi Saldo:</span>
                            <span class="font-bold" th:text="'S/ ' + ${session.mySaldo}">0</span>
                        </div>
                        <div class="flex justify-between py-2 text-sm">
                            <span>Subtotal:</span>
                            <span th:text="'S/' + ${session.subTotal}"  class="font-bold"></span>
                        </div>
                        <div class="flex justify-between py-2 text-sm">
                            <span>IGV:</span>
                            <span th:text="'S/' + ${session.igv}"  class="font-bold"></span>
                        </div>               
                        <div class=" w-full mb-2">                   
                                <p class="flex gap-2">Datos Delivery <span class="text-sm font-bold mt-auto mb-auto"> (*informacion exacta*)</span> </p>                   
                                    <!--ciudad  -->
                                    <select id="miSelect" class="w-full outline-none border shadow-sm px-3 py-2 text-sm mb-2" name="ubicacion" required></select>    
                                    <input type="text" class="w-full outline-none border shadow-sm px-3 py-2 text-sm" placeholder="Direccion...."  name="referencia" required>                 
                        </div>
                        <div class="flex justify-between py-2 text-sm">
                            <span>Total:</span>
                            <span th:text="'S/' + ${session.PrecioFinal}" class="font-bold"></span>
                        </div>
                        <div class="flex gap-2 text-center">
                            <button type="submit" class="px-4 py-2 bg-orange-500 text-white rounded-md w-full">Comprar</button>
                            <a href="/cliente/productos" class="px-4 py-2 bg-gray-900 text-white rounded-md w-full" >Regresar <i class="bi bi-ban"></i></a>
                        </div>
        
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{/fragmentos/cliente/footer :: div}"></div>

    <div id="modal_barra_lateral" class="hidden fixed w-screen h-screen flex z-1 top-0  ">
        <!-- Sidebar -->
        <div class="w-80 h-full bg-white text-black p-4 border rounded">
                <div class="flex justify-between">
                    <a href="/" class="flex gap-2"><img class="w-12" src="/img/estadisticas/img-5.png" alt=""> <span class="mb-auto mt-auto">FameTech</span> </a>
                    <a id="cerrar_ventana_modal" class="mb-auto mt-auto cursor pointer">X</a>                    
                </div>

                <div class="font-bold text-xl mt-8">
                    <a href="/cliente/login" class="block mb-4" th:if="${session.IdUsuario == null}">iniciar sesion</a>
                    <a href="/cliente/registrar" class="block mb-4" th:if="${session.IdUsuario == null}">registrar</a>
                    <a href="/" class="block mb-4">inicio</a>
                    <a href="/cliente/productos" class="block mb-4">productos</a>              
                    <a href="/nosotros" class="block mb-4">nosotros</a>
                    <a href="/cliente/compras" class="block mb-4" th:unless="${session.IdUsuario == null}">mis compras</a>
                </div>
        </div>       
    </div>
    <script>

        async function api() {
            const consulta = await fetch('https://tokkobroker.com/api/v1/location/quicksearch/?format=json&lang=es_ar&q=LIMA');
            const respuesta = await consulta.json();
            console.log(respuesta);
            if (respuesta.objects) {
                const select = document.getElementById('miSelect'); // Obtener el elemento select                
                // Iterar sobre los objetos y agregarlos como opciones al select
                respuesta.objects.forEach(item => {
                    const option = document.createElement('option'); // Crear un elemento option
                    option.text = item.name; // Establecer el texto de la opción como el nombre del objeto
                    option.value = item.name; // Establecer el valor de la opción como el ID del objeto (si es necesario)
                    select.appendChild(option); // Agregar la opción al select
                });
            }
        }
         api();
        

        var buttom_barra_lateral = document.getElementById("buttom_barra_lateral");
        var modal_barra_lateral = document.getElementById("modal_barra_lateral");
        var cerrar_ventana_modal = document.getElementById("cerrar_ventana_modal");

        buttom_barra_lateral.addEventListener('click', () => {
            modal_barra_lateral.classList.remove('hidden');
        });

        cerrar_ventana_modal.addEventListener('click', () => {
            modal_barra_lateral.classList.add('hidden');
        });
    </script>
</body>
</html>