<div
class=" border-2 shadow-[0_0px_10px_2px_rgba(210,210,210,1)] flex justify-between bg-white pt-3.5 pb-3.5 pl-8 pr-8">
<div class=" flex gap-3">
    <div class="mt-auto mb-auto cursor-pointer">
        <a id="button_modal" class="text-2xl"><i class="bi bi-justify"></i></a>
    </div>
    <div class="mt-auto mb-auto flex gap-2">
        <img src="/img/estadisticas/img-5.png" alt="" class="w-8 h-8 mt-auto mb-auto">
        <a href="#" class="text-2xl">Tunea tu Bajada</a>
    </div>
</div>
<div class="flex gap-5 mt-auto mb-auto">
    <div class="mt-auto mb-auto menu_top_option">
        <ul class="flex gap-5 ">
            <li><a href="#"><i class="bi bi-bell"></i></a></li>
            <li><a href="#"><i class="bi bi-chat-square"></i></a></li>
        </ul>
    </div>
    <div class="nombre_usuario mt-auto mb-auto">
        <a href="#" class="bg-sky-600 text-white px-4 py-2 border rounded shadow hover:shadow-sm" th:text="${session.NombreUsuario}"></a>
    </div>
</div>
</div>