<div id="menu_lateral"
class=" overflow-hidden h-screen bg-white border shadow-[1px_0px_2px_1px_rgba(216,216,216,1)]">
<ul class="mt-4 overflow-hidden ">
    <li>
        <a href="/administrador/dashboard" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
            <i class="bi bi-speedometer2"></i>
            <span>Main</span>
            <i class="bi bi-chevron-compact-right"></i>
        </a>
    </li>
    <li>
        <a href="/administrador/usuarios" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
            <i class="bi bi-people"></i>
            <span>Usuarios</span>
            <i class="bi bi-chevron-compact-right"></i>
        </a>
    </li>
    <li>
        <a href="/administrador/productos" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
            <i class="bi bi-handbag"></i>
            <span>Productos</span>
            <i class="bi bi-chevron-compact-right"></i>
        </a>
    </li>
    <li>
        <a href="/administrador/compras" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
            <i class="bi bi-truck"></i>
            <span>Pedidos</span>
            <i class="bi bi-chevron-compact-right"></i>
        </a>
    </li>
    <li>
        <a href="/administrador/reclamos" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
            <i class="bi bi-file-earmark-excel-fill"></i>
            <span>Reclamos</span>
            <i class="bi bi-chevron-compact-right"></i>
        </a>
    </li>
    <li>
        <a href="/administrador/categoria/producto" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
            <i class="bi bi-bookmark-plus"></i>
            <span>Categoria</span>
            <i class="bi bi-chevron-compact-right"></i>
        </a>
    </li>
    <li>
        <a href="/" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
            <i class="bi bi-shop"></i>
            <span>Tienda</span>
            <i class="bi bi-chevron-compact-right"></i>
        </a>
    </li>
    <li>
        <a href="/autenticacion/logout" class="flex gap-2  bg-red-800 text-white px-2 py-3 rounded m-2 text-sm">
            <i class="bi bi-box-arrow-left"></i>
            <span>Cerrar Sesion</span>        
        </a>
    </li>
</ul>
</div>